.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  /*border: 1px solid red;*/
}
.footer__column-link:hover {
  text-decoration: underline;
  color: #2f80ed;
}
